// COLORS
$primary-color: #228B22;
$secondary-color: #40798C;
$font-family: "Montserrat", sans-serif;

$light-white: #EDEDED;  // Projects BG color
$white-color: #F2F2F2;  //  Note: Hero BG color; About, Contact, Footer, text color; Button BG color
$dark-grey: #36454F;    // Footer BG color

$dark-blue-text: #333333; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
